GEMINI_API_KEY=
GEMINI_NAME=
GEMINI_PROJECT_NAME=
GEMINI_PROJECT_NUMBER=

GEMINI_MODEL=
GEMINI_MODEL_TTS=

SUPABASE_URL=
SUPABASE_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_URL=
TELEGRAM_SECRET_TOKEN=